{% extends "blog/base.html" %}
{% load bootstrap %}
    {% block body %}
       <div class="content-section">
            <form method="POST" >
                {% csrf_token%}
                <fieldset class="form-group">
                    <legend class="border-bottom md-4">
                        Reset Password
                    </legend>
                    {{ form|bootstrap}}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Request Reset Password !</button>
                </div>
            </form>

       </div>
{% endblock%}